<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <!-- Brand/logo -->
    <div class="container">
        <a class="navbar-brand" href="/">云课堂V1.0</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav ">
                <li class="nav-item dropdown">
                    {volist name="data" id="data"}
                    <a class="nav-link dropdown-toggle" href="javascript:" id="navbardrop" data-toggle="dropdown">
                        {$data.name}-同学
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/index/index/exitlogin">注销</a>
                        <a class="dropdown-item" href="javascript:">个人中心</a>
                    </div>
                    {/volist}
                </li>
            </ul>
        </div>
    </div>
</nav>