{extend name="layout"/}

{block name="title"}
<title>课程详情</title>
{/block}
<!-- 资源 -->
{block name="static"}
<style>

</style>
{/block}
<!-- 内容 -->
{block name="body"}
<!-- 导航栏 -->
{:widget('widgets/teachers')}
<div class="line-one container">
    <div class="row p-2 m-2  bg-light border">
        <div class="col-sm-9 d-flex justify-content-center flex-column">
                <div class="h4">[<span class="text-danger">{$course.name}</span>]作业列表</div>
        </div>
        <div class="col-sm-3 d-flex justify-content-center flex-column">
            <div class="dropdown">
                <button type="button" class="btn btn-block btn-primary dropdown-toggle" data-toggle="dropdown">
                    课程管理
                </button>
                <div class="dropdown-menu bg-light">
                    <a class="dropdown-item" href="/index/teachers/addworkview?id={$course.course_id}">
                        新增作业
                    </a>
                    <a class="dropdown-item" href="/index/teachers/CourseImgView?id={$course.course_id}">
                        修改封面
                    </a>
                    <a class="dropdown-item" href="/index/teachers/course">
                        我的课程
                    </a>
                </div>
            </div>
        </div>
    </div>
    {if count($data) == 0}
    <div class="row p-2 m-2 bg-light border">
        <div class="h4 col-12 text-center">还没有发布任何作业</div>
    </div>
    {/if}
    {volist name="data" id="data" key="key"}
    <div class="row p-2 m-2 bg-light border">
    <div class="col-sm-9 d-flex justify-content-start">
        <div class="text-dark">
            <div class="h4">{$data.title}</div>
            <div>截至时间：{$data.end_time|date='Y-m-d',###}</div>
            <div>
                <!-- 作业要求简介 -->
                要求：{$data.msg_cut}<a href=".demo{$key}" data-toggle="collapse">......更多</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 d-flex justify-content-center flex-column">
        <div class="dropdown">
            <button type="button" class="btn btn-block btn-success dropdown-toggle" data-toggle="dropdown">
                作业管理
            </button>
            <div class="dropdown-menu bg-light">
                <a class="dropdown-item" href="{:url('index/Teachers/WorkDetails',['id'=>$data.Id,'course_id'=>$course.course_id])}">
                    查看作业
                </a>
                {if $data.scheme == 0}
                <a class="dropdown-item" href="{:url('index/Teachers/zipDownload',['course_id'=>$data.course_id,'work_id'=>$data.Id])}">
                    下载所有
                </a>
                {/if}
            </div>
        </div>
    </div>
</div>
    <div  class="collapse p-2 m-2 bg-dark text-white demo{$key}" data-parent=".line-one">  <!-- 作业要求详细 -->
        <textarea style="resize:none"  class="col-12 bg-dark text-white border-0" disabled rows="6">{$data.msg}</textarea>
    </div>
    {/volist}
    <ul class="text-dark container d-flex justify-content-center fixed-bottom">
        {$page}
    </ul>
</div>
{/block}