{extend name="layout"/}

{block name="title"}
<title>课程详情</title>
{/block}
<!-- 资源 -->
{block name="static"}
<style>

</style>
{/block}
<!-- 内容 -->
{block name="body"}
<!-- 导航栏 -->
{:widget('widgets/teachers')}

<div class="line-one container">
    <div class="row p-2 m-2 bg-light border">
        <div class="col-sm-9 d-flex justify-content-start">
            <div class="text-dark">
                <div class="h4">{$course_data.title}</div>
                <div>截至时间：{$course_data.end_time|date='Y-m-d',###}</div>
                <div>
                    <!-- 作业要求简介 -->
                    要求：{$course_data.msg_cut}<a href=".demo" data-toggle="collapse">......更多</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 d-flex justify-content-center flex-column">
            <input type="button" class="btn btn-block btn-success"  value="修改信息"
                   data-url="{:url('index/Teachers/UpDateWork',['id'=>$course_data.Id,'course_id'=>$course_data.course_id])}"
                   onclick="OpenUrl(this)" />
            <input type="button" class="btn btn-block btn-danger"  value="返回前页"
                   onclick="OpenUrl(this)" data-url="/index/teachers/courseDetails?id={$course_data.course_id}&key={$course.name}" />
        </div>
    </div>
    <div  class="collapse p-2 m-2 bg-dark text-white demo" data-parent=".line-one">  <!-- 作业要求详细 -->
        <textarea style="resize:none"  class="col-12 bg-dark text-white border-0" disabled rows="10">{$course_data.msg}</textarea>
    </div>
    <div  style="margin-top:20px;" class="table-responsive">
        <table class="table text-center table-hover" id="table-nowrap">
            <thead>
                <tr>
                    <td>学号</td>
                    <td>姓名</td>
                    <td>班级</td>
                    <td>作业类型</td>
                    <td>答题次数</td>
                    <td>提交时间</td>
                    <td>批阅</td>
                    {if $course_data.scheme == 0}
                    <td>下载</td>
                    {/if}
                </tr>
            </thead>
            <tbody>
            {if count($workData) == 0}
            <tr>
                <td colspan="8">还没有收到作业</td>
            </tr>
            {else}
            {volist name="workData" id="workData"}
                <tr>
                    <td>{$workData.students_num}</td>
                    <td>{$workData.students_name}</td>
                    <td>{$workData.student_id}</td>
                    <td>
                        {if $workData.type == 0}
                        文件
                        {else}
                        文本
                        {/if}
                    </td>
                    <td>{$workData.count_sum}</td>
                    <td>{$workData.updatetime|date='Y-m-d:H:i:s',###}</td>
                    <td>
                        <a href="{:url('index/teachers/MarkingView',['id'=>$workData.Id])}">
                            {if $workData.state == 1}已{else}未{/if}批阅
                        </a>
                    </td>
                    {if $course_data.scheme == 0}
                    <td><a href='{:url("/index/teachers/downloadfiles",
                    ["work_id"=>$workData.work_id,"Id"=>$workData.Id,"course_id"=>$workData.course_id])}'>下载</a></td>
                    {/if}
                </tr>
            {/volist}
            {/if}
            </tbody>
        </table>
    </div>
    <ul class="text-dark container d-inline-flex justify-content-center">
        {$page}
    </ul>
</div>
<script>
    $(function () {
        //    -------
        $("#table-nowrap").find('td').attr('nowrap','nowrap');
    })
</script>
{/block}