{extend name="layout"/}

{block name="title"}
<title>首页</title>
{/block}
<!-- 资源 -->
{block name="static"}
<link rel="stylesheet" href="__CSS__/index/login.css"/>
{/block}
<!-- 内容 -->
{block name="body"}
<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <!-- Brand/logo -->
    <div class="container">
    <a class="navbar-brand" href="#">云课堂V1.0</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link login" data-toggle="modal" data-target="#myModal" href="javascript:">登录</a>
        </li>
    </ul>
    </div>
</nav>
<!-- 轮播 -->
<div id="demo" class="carousel slide" data-ride="carousel">
    <!-- 轮播图片 -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="__IMG__/bg.jpg">
            <div class="text-fixed">
                <p>知否-云课堂V1.0</p>
                <p>开发时间:2018-06-07</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="__IMG__/bg01.jpg">
            <div class="text-fixed">
                <p>开发人员:知否丶</p>
                <p>QQ:2528087799</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="__IMG__/bg02.jpg">
            <div class="text-fixed">
                <p>本次开发,主要为了学习</p>
                <p>更多交流,请联系作者</p>
            </div>
        </div>
    </div>
</div>

<!-- 调用块 -->

<div class="modal fade" id="myModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">登录</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form id="forms" onsubmit="return false">
                <div class="form-group">
                    <label for="number">账号:</label>
                    <input type="text" class="form-control" id="number" placeholder="学号/教师号">
                </div>
                <div class="form-group">
                    <label for="pass">密码:</label>
                    <input type="password" class="form-control" id="pass" placeholder="密码">
                </div>
                <div class="form-group">
                    <label for="class_number">用户类型:</label>
                    <select class="form-control" id="class_number">
                        <option value="">用户类型</option>
                        <option value="1">我是学生</option>
                        <option value="2">我是教师</option>
                    </select>
                </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                <button type="button" class="btn btn-secondary" onclick="login()" >登录</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark">
    <div class="col-12 text-white text-center">
        <dd>项目名:云课堂/开发人员:知否丶</dd>
        <dd>联系方式:QQ:2528087799/Email:vclinlin@vip.qq.com</dd>
    </div>
</div>
<script>
function login()
{
    var number = $("#number").val().trim();
    var pass = $("#pass").val().trim();
    var class_number = $("#class_number").val().trim();
    /**
     * 数据监测
     */
    var numbers = /^[0-9]{8,16}$/;
    var CheckPwd = /^[0-9a-zA-Z\+\-\_]{6,16}$/;
    if(!numbers.test(number))
    {
        layer.msg('账号由8-16位纯数字组成');
        return;
    }
    if(!CheckPwd.test(pass))
    {
        layer.msg('密码由6-16位数字或中英文字符组成');
        return;
    }
    if(class_number!=1&&class_number!=2)
    {
        layer.msg('请选择你的用户类型');
        return;
    }
    $.ajax({
        url:"{:url('index/index/login')}",
        type:"post",
        dataType:"json",
        data:{
            number,
            pass,
            class_number
        },
        success:function (data) {
            if(!data['state'])
            {
                layer.msg(data['messages'],{time:2000});
                return;
            }
            if(data['state'])
            {
                $("#forms")[0].reset();
                layer.msg(data['messages'],{time:2000},function () {
                    window.location.href=data.url;
                });
                return;
            }
        }
    })
}
</script>
{/block}