{extend name="layout"/}

{block name="title"}
<title>我的课程</title>
{/block}
<!-- 资源 -->
{block name="static"}

{/block}
<!-- 内容 -->
{block name="body"}
{:widget('widgets/students')}
<div class="line-one container">
    <div class="d-flex flex-wrap">
        {volist name="data" id="data"}
        <div class="col-lg-2 card-top col-sm-3 col-6 p-sm-2" style="margin-top: 15px;" title="{$data.name}">
            <div class="card" data-url="/index/students/courseDetails?id={$data.Id}&key={$data.name}" onclick="OpenUrl(this)">
                <div class="card-body">
                    <img src="{$data.img_url==''?'__IMG__/cover/DefaultCover.jpg':$data.img_url}" class="w-100" style="height:169px">   <!-- 封面 -->
                </div>
                <div class="card-footer text-center">
                    <marquee direction="left"  scrollamount="3">
                        {$data.name}
                    </marquee>
                </div>    <!-- 课程名 -->
            </div>
        </div>
        {/volist}
        <ul class="text-dark container d-flex justify-content-center fixed-bottom">
            {$page}
        </ul>
    </div>
</div>
{/block}