<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>学生</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="__X-ADMIN__/css/font.css">
    <link rel="stylesheet" href="__X-ADMIN__/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="__X-ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__X-ADMIN__/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">用户管理</a>
        <a>
          <cite>教师</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加教师','/admin/user/addteacherview')">
          <i class="layui-icon"></i>手动添加</button>
        <button class="layui-btn" onclick="x_admin_show('Excel导入','/admin/user/TeachersExcel')">
          <i class="layui-icon"></i>Excel导入</button>
        <span class="x-right" style="line-height:40px">已注册教师：{$count} 名</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>教师号</th>
            <th>姓名</th>
            <th>系部</th>
            <th>状态</th>
            <th style="text-align: center">操作</th>
          </tr>
        </thead>
        <tbody>
        {volist name="TeachersData" id="data"}
          <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary"
                   data-id='{$data.Id}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$data.number}</td>
            <td>{$data.name}</td>
            <td>{$data.dep_name}</td>
            <td class="td-status">
              {if condition="($data.state==1)"}
              <span class="layui-btn layui-btn-sm">已激活</span>
              {elseif condition="($data.state==0)"/}
              <span class="layui-btn layui-btn-sm layui-btn-disabled">已冻结</span>
              {else /}
              参数错误
              {/if}
            </td>

            <td class="td-manage" style="text-align: center">
              {if condition="($data.state==1)"}
              <button title="冻结" class="layui-btn layui-btn-sm"
                      onclick="member_stop(this,{$data.Id})">
                <i class="layui-icon">&#xe601;</i>
              </button>
              {elseif condition="($data.state==0)"/}
              <button title="激活" class="layui-btn layui-btn-sm"
                      onclick="member_stop(this,{$data.Id})">
                <i class="layui-icon">&#xe62f;</i>
              </button>
              {else /}
              参数错误
              {/if}
              <button class="layui-btn layui-btn-sm" title="编辑"
                      onclick="x_admin_show('编辑','/admin/user/UpTeachersView/?id={$data.Id}')"
              >
                <i class="layui-icon">&#xe642;</i>
              </button>
              <button class="layui-btn layui-btn-sm" title="重置密码"
                      onclick="reset_pass({$data.number},{$data.Id})"
              >
                <i class="layui-icon">&#xe669;</i>
              </button>
              <button class="layui-btn layui-btn-sm" title="删除"
                      onclick="member_del(this,{$data.Id})"
              >
                <i class="layui-icon">&#xe640;</i>
              </button>
            </td>
          </tr>
          {/volist}
        </tbody>
      </table>
      <div class="page">
        <div>
          <a class="prev" href="./teachersview?page={$page-1}">&lt;&lt;</a>
          <a class="num" href="./teachersview?page={$page-1}">{$page-1}</a>
          <span class="current">{$page}</span>
          <a class="num" href="./teachersview?page={$page+1}">
            <?php
                    $page = $page+1>$num?$page:$page+1;
            echo $page;
            ?>
          </a>
          <a class="num" href="Javascript:">....</a>
          <a class="num" href="./teachersview?page={$num}">{$num}</a>
          <a class="next" href="./teachersview?page={$page+1}">&gt;&gt;</a>
        </div>
      </div>

    </div>
    <script>

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认'+$(obj).attr('title')+'吗？',function(index){

              if($(obj).attr('title')=='冻结'){
                //发异步把用户状态进行更改
                  $.ajax({
                      url:"/admin/user/TeacherState",
                      dataType:"json",
                      type:"post",
                      data:{
                          "Id":id,
                          "state":0
                      },
                      success:function (data) {
                          if(!data['state'])
                          {
                              layer.msg(data['messages'],{icon: 5,time:1000});
                          }
                          if(data['state'])
                          {
                              $(obj).attr('title','激活')
                              $(obj).find('i').html('&#xe62f;');

                              $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已冻结');
                              layer.msg(data['messages'],{icon:1,time:1000});
                          }
                      }
                  })
              }else{
                  $.ajax({
                      url:"/admin/user/TeacherState",
                      dataType:"json",
                      type:"post",
                      data:{
                          "Id":id,
                          "state":1
                      },
                      success:function (data) {
                          if(!data['state'])
                          {
                              layer.msg(data['messages'],{icon: 5,time:1000});
                          }
                          if(data['state'])
                          {
                              $(obj).attr('title','冻结')
                              $(obj).find('i').html('&#xe601;');
                              $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已激活');
                              layer.msg(data['messages'],{icon:1,time:1000});
                          }
                      }
                  })
              }
              
          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $.ajax({
                  url:"/admin/user/DelTeacher",
                  dataType:"json",
                  type:"post",
                  data:{
                      Id:id
                  },
                  success:function (data) {
                      if(!data['state'])
                      {
                          layer.msg(data['messages'],{icon:5,time:3000});
                          return false;
                      }
                      if(data['state'])
                      {
                          $(obj).parents("tr").remove();
                          layer.msg(data['messages'],{icon:1,time:2000});
                          return false;
                      }
                      layer.msg('网络延时，刷新后再试',{icon:1,time:2000});
                      return false;
                  }
              });
          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？',function(index){
            //捉到所有被选中的，发异步进行删除
            $.ajax({
                url:"/admin/user/DelTeachers",
                dataType:"json",
                type:"post",
                data:{
                    "Ary":data
                },
                success:function (data) {
                    if(!data['state'])
                    {
                        layer.msg(data['messages'],{icon:5,time:3000});
                        return false;
                    }
                    if(data['state'])
                    {
                        layer.msg(data['messages'],{icon:1,time:2000});
                        $(".layui-form-checked").not('.header').parents('tr').remove();
                        return false;
                    }
                    layer.msg('网络延时，刷新后再试',{icon:1,time:2000});
                    return false;
                }
            });
        });
      }


       function reset_pass(number,Id){
           layer.confirm('确认要重置密码吗？',function(index){
               $.ajax({
                   url:"/admin/user/ResetTeacher",
                   dataType:"json",
                   type:"post",
                   data:{
                       Id,
                       number
                   },
                   success:function (data) {
                       if(!data['state'])
                       {
                           layer.msg(data['messages'],{icon:5,time:3000});
                           return false;
                       }
                       if(data['state'])
                       {
                           layer.msg(data['messages'],{icon:1,time:2000});
                           return false;
                       }
                       layer.msg('网络延时，刷新后再试',{icon:1,time:2000});
                       return false;
                   }
               });
           });
       }
    </script>
  </body>

</html>